{% extends 'users/base.html' %}

{% block lk %}
<div class="row">
 <div class="col-md-4 mx-auto">
     <div class="mb-5"> {{ title }} </div>
     <form method="post">
                {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for form_el in form %}
                          <div class="d-flex justify-content-between">
                              <p><label class="form-label" for="{{ form_el.id_for_label }}">{{ form_el.label }}:</label></p>
                              <p>{{ form_el }}</p>
                          </div>
                        <div class="form-error">{{ form_el.errors }}</div>
                    {% endfor %}
                <br>
     {% if form %}
        <button type="submit" class="btn btn-primary">Отправить</button>
         {% else %}
         <p>Ссылка устарела или уже была использована. </p><p>Попробуйте запросить восстановление еще раз.</p>
     {% endif %}
        </form>
    </div>
</div>
{%  endblock %}