{% extends 'users/base.html' %}

{% block lk %}
<div class="row">
 <div class="col-md-4 mx-auto">
        <form method="post">
                {% csrf_token %}
                    {% for form_el in form %}
                          <div class="d-flex justify-content-between">
                              <p><label class="form-label" for="{{ form_el.id_for_label }}">{{ form_el.label }}:</label></p>
                              <p>{{ form_el }}</p>
                          </div>
                    {% endfor %}
                <br>
        <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>
{%  endblock %}